<footer>
    <div class="ui center aligned container">
        <div class="ui section divider"></div>
        <div class="ui horizontal small divided link list">
            <a class="item" target="blank" href="https://weibo.com/andyhaicheng" rel="nofollow">新浪微博</a>
            <a class="item" target="blank" href="https://www.douban.com/people/52866075/" rel="nofollow">豆瓣</a>
            <a class="item" target="blank" href="https://github.com/harris2012" rel="nofollow">GITHUB</a>
            <a class="item" href="#">关于</a>
        </div>
    </div>
</footer>
