<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="https://www.harriszhang.com" class="navbar-logo">
            <img src="/images/logo.png" alt="从善如流" />
        </a>
        <div class="navbar-menu">
            <a href="https://www.harriszhang.com/posts" class="@(ViewBag.Tab=="post"?"current":string.Empty)" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', '语记', 'posts'])">语记</a>
            <a href="https://www.harriszhang.com/trip/baidu.aspx" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', '旅行', 'trip_baidu'])" rel="nofollow" target="_blank">旅行</a>
            <a href="https://www.harriszhang.com/about" class="@(ViewBag.Tab=="about"?"current":string.Empty)" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', '关于', 'about'])">关于</a>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a href="https://www.harriszhang.com/posts" class="@(ViewBag.Tab=="post"?"current":string.Empty)" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', '语记', 'posts'])">语记</a></li>
                <li><a href="https://www.harriszhang.com/trip/baidu.aspx" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', '旅行', 'trip_baidu'])" rel="nofollow" target="_blank">旅行</a></li>
                <li><a href="https://www.harriszhang.com/about" class="@(ViewBag.Tab=="about"?"current":string.Empty)" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', '关于', 'about'])">关于</a></li>
            </ul>
        </div>
    </div>
</header>
