@{
    ViewBag.Title = ViewBag.PostEntity.Title;
    var post = ViewBag.PostEntity as HarrisZhang.Blog.Repository.Entity.PostEntity;
}

@section scripts{
    <script>
        $(function () {
            $('#qrcode').qrcode("this plugin is great");
        })
    </script>
}

<div class="ui container post_container">

    <h1>@post.Title</h1>

    <p>@post.PublishTime.Value.ToString("yyyy年MM月dd日")</p>

    @(new MvcHtmlString(post.Body))

    <div id="qrcode" style="display:none"></div>
</div>
